app-article{

}

.article-nav{
  padding: 1em 0;
  border-top: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 470px) {
  .article-nav{
    flex-wrap: wrap;
    button{
      margin-bottom: 3px;
      width: 100%;
    }
  }
}
