.article-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-main{
  display: block;
  p{
    text-indent: 2em;
  }
}
@media screen and (max-width: 470px) {
  .article-nav{
    flex-wrap: wrap;
    button{
      margin-bottom: 3px;
      width: 100%;
    }
  }
}
