.article-main{
  h1{
    margin-bottom: 1em;
  }
  ol, ul{
    margin-top: 1em;
    li{
      margin-bottom: 5px;
    }
  }
  h2{
    margin: 1em 0;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 0.5em;
  }
  h3{
    font-size: 1.5rem;
    text-indent: 0.5em;
    margin: 1em 0;
  }
  p{
    margin: 1em 0;
    text-indent: 2em;
  }

}
