
.list-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

  .card{
    margin-top: 10px;
    width: 100%;
    &:hover{

    }
  }
  @media (min-width: 992px){
    .card{
      width: calc((100% - 10px)/2);
    }
  }

  h5.card-title a{
    color: #2a2935;
    transition: all .2s linear;
    font-size: 24px;
    &:hover{
      text-decoration: underline;
    }
  }
  .card-text{
    max-height: 48px;
    overflow: hidden;
  }
  .card-footer{
    display: flex;
    justify-content: space-between;
    .tag-wrap a{
      color: #6c757d;
      cursor: pointer;
      display: inline-block;
      margin-right: 5px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
