<nz-layout>
  <nz-header *ngIf="!xsScreen">
    <ul nz-menu nzTheme="dark" nzMode="horizontal" style="line-height: 64px; width: 100%;">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzZeroTrigger]="zeroTrigger" *ngIf="xsScreen">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <span><i nz-icon type="user"></i><span class="nav-text">nav 1</span></span>
      </li>
      <li nz-menu-item>
        <span><i nz-icon type="video-camera"></i><span class="nav-text">nav 2</span></span>
      </li>
      <li nz-menu-item>
        <span><i nz-icon type="upload"></i><span class="nav-text">nav 3</span></span>
      </li>
      <li nz-menu-item>
        <span><i nz-icon type="user"></i><span class="nav-text">nav 4</span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>

  <!--<nz-footer>-->

  <!--</nz-footer>-->

</nz-layout>

<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>



